@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 최상단 */
.top {
  max-width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}

.top div {
  display: flex;
  height: 100%;
  align-items: center;
  box-sizing: border-box;
}

.top .left {
  background: #1d2a3e;
  flex: 1;
  color: #fff;
  padding: 0 20px 0 30px;
}

.top .weather {
  width: 90%;
}

.top .weather>span {
  font-size: 1.6rem;
}

.top .lang {
  width: 10%;
  justify-content: flex-end;
}

.top .lang span {
  font-size: 1.6rem;
}

.top .lang p {
  padding: .5rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, .1);
}

.top .site {
  width: 250px;
  font-family: 'GmarketSansMedium';
  padding: 0 3.5rem;
  color: #fff;
  background: #418087 url(../images/page_m.png) right top no-repeat;
}

.top .site a {
  display: block;
  letter-spacing: -1px;
  font-size: 1.5rem;
  color: #fff;
}

.top .lang p,
.top .site p {
  display: flex;
  margin-left: 10px;
}

/* 누리집 */
.nuri {
  display: flex;
  padding: 1rem 5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  background: #eef0f3;
}

.nuri p {
  font-size: 0;
}

.nuri span {
  font-size: 1.4rem;
  color: #666;
  letter-spacing: -1px;
  margin-left: 10px;
}

.nuri img {
  width: 22px;
  vertical-align: middle;
}

/* 메뉴 */


header nav .wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 3rem;
  font-family: 'GmarketSansMedium';
}

header nav .wrap .logo a img {
  width: 200px;
}

header nav .wrap p:nth-child(2) {
  display: flex;
  margin-left: 1rem;
}

header nav .wrap p:nth-child(2) img {
  width: 47px;
  vertical-align: middle;
  padding-bottom: 3px;
}

header nav .wrap p:nth-child(2) span {
  font-size: 1.3rem;
  color: #494949;
}

header nav .wrap .mainMenu {
  display: flex;
  gap: 10rem;
  height: 100%;
  flex: 1;
  text-align: center;
  padding-right: 10rem;
  justify-content: center;
}

header nav .wrap .mainMenu li a {
  color: #222;
  font-size: 1.9rem;
}

header nav .wrap .siteMap span{
  font-size: 3rem;
  color: #000;
}




/**************** 반응형 *******************/


@media screen and (max-width:1280px) {
  .top .weather {
    opacity: 0;
  }
}

@media screen and (max-width:1024px) {

  .top .left {
    width: 100%;
  }

  .top .weather,
  .top .lang,
  .top .site {
    display: none;
  }
}

@media screen and (max-width:768px) {

  .top {
    display: none;
  }

}