@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  /* rem의 기준 */
  font-size: 1rem;
}

body {
  font-family: Pretendard, serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid #000;
  transition: .3s;
  background: #fff;
}

header nav {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

header nav h1 {
  font-size: 3rem;
}

header nav ul {
  display: flex;
  gap: 5rem;
  height: 4rem;
  align-items: flex-end;
}

#section0 .intro {
  display: flex;
  width: 100%;
  gap: 5rem;
  max-width: 1200px;
  margin: 12rem auto 7rem;
}

#section0 .intro .mainText {
  text-align: center;
  height: 10rem;
}

#section0 .intro .profile {
  width: 30%;
  height: 70%;
  overflow: hidden;
}

#section0 .intro .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#section0 .intro ul {
  text-align: center;
  padding: 5rem 0;
  flex: 1;
  border-left: 1px solid #ccc;
}


#section0 .intro ul li:nth-child(2) h3 {
  margin-bottom: .5rem;
}

#section0 .intro ul li:nth-child(2) p:last-child {
  color: #444;
}

#section0 .intro ul li:nth-child(3) {
  display: flex;
  justify-content: center;
  gap: .5rem;
  margin-top: 5rem;
}

#section0 .intro ul li:nth-child(3) p,
#section0 .intro ul li:nth-child(4) p {
  width: 2rem;
  height: 2rem;
  border: 1px solid #aaa;
  padding: .5rem;
  border-radius: 50%;
}

#section0 .intro ul li:nth-child(3) p img,
#section0 .intro ul li:nth-child(4) p img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#section1,
#section2 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}


/* 포트폴리오 */
#section1 {
  width: 100%;
  max-width: 1400px;
  height: 70rem;
  margin: 0 auto;
  border: 1px solid #000;
}

#section1 ul {
  width: 100%;
  gap: 5rem;
  display: flex;
  flex-wrap: wrap;
}

#section1 ul li a{
  display: flex;
  width: 100%;
}

#section1 ul li img {
  width: 100%;
  object-fit: cover;
}

#section1 ul li .desc {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cursor {
  opacity: 0;
  position: fixed;
  z-index: 1000;
  transform: translate(-50%, -50%) scale(1);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.5rem;
  pointer-events: none;
  transition: transform 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor.on {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


/* 반응형 */
@media screen and (max-width : 940px) {
  header nav h1 {
    /* font-size: 25px; */
  }

  header nav ul li a {
    /* font-size: 13px; */
  }
}