* {
  margin: 0;
  padding: 0;
}

.wrap {
  /* 전체 가로 1480px; */
  width: 1480px;
  margin: 100px auto 0;
  box-sizing: border-box;
}

section>h1 {
  font-family: Noto Sans KR, serif;
  font-size: 36px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 100px 0;
}

/******** section3 시작 ********/
.sec3 li {
  width: 100%;
  height: 440px;
  margin-bottom: 44px;
}

.sec3 li:last-child {
  margin-bottom: 0;
}

.sec3 li>p {
  width: 720px;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.sec3 li:nth-child(2n + 1)>p {
  float: left;
}

.sec3 li:nth-child(2n)>p {
  float: right;
}

.sec3 li img {
  object-fit: cover;
}

.sec3 li .textbox {
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
}

.sec3 li:nth-child(2n + 1) .textbox {
  left: 57%;
}

.sec3 li:nth-child(2n) .textbox {
  left: 43%;
  text-align: right;
}

.sec3 li .textbox p {
  font-family: Noto Sans KR, serif;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 500;
  color: #777;
  letter-spacing: -1px;
}

.sec3 li .textbox h1:first-of-type {
  font-family: Noto Sans KR, serif;
  font-size: 48px;
  color: #222;
  font-weight: 400;
  letter-spacing: -2px;
}

.sec3 li .textbox h1:last-of-type {
  font-family: Noto Sans KR, serif;
  font-size: 48px;
  color: #ffc72c;
  font-weight: 800;
}

/******** section3 끝 ********/

/******** section4 시작 ********/
.sec4 ul {
  width: 100%;
  height: 500px;
  display: flex;
  gap: 16px;
}

.sec4 li {
  position: relative;
  height: 100%;
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
  width: calc(100% / 8);
}

.sec4 li:hover {
  width: 400px;
  transition: 1s;
}

.sec4 li:last-child {
  margin-right: 0;
}

.sec4 li::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  filter: brightness(80%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sec4 li:hover::after {
  filter: brightness(50%);
}

.sec4 li:first-child::after {
  background: url(../images/bg_category_1.jpg) center/cover;
}

.sec4 li:nth-child(2)::after {
  background: url(../images/bg_category_2.jpg) 60% center/cover;
}

.sec4 li:nth-child(3)::after {
  background: url(../images/bg_category_4.jpg) 10% center/cover;
}

.sec4 li:nth-child(4)::after {
  background: url(../images/bg_category_5.jpg) center/cover;
}

.sec4 li:nth-child(5)::after {
  background: url(../images/bg_category_6.jpg) center/cover;
}

.sec4 li:nth-child(6)::after {
  background: url(../images/bg_category_3.jpg) 30% center/cover;
}

.sec4 li:nth-child(7)::after {
  background: url(../images/bg_category_7.jpg) center/cover;
}

.sec4 li:last-child::after {
  background: url(../images/bg_category_8.jpg) right/cover;
}

.sec4 .txt {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
}

.sec4 li h1 {
  position: absolute;
  font-family: Noto Sans, serif;
  font-weight: 800;
  font-size: 24px;
  color: #fff;
  width: 100%;
  word-break: keep-all;
}

.sec4 .txt p {
  opacity: 0;
  word-break: keep-all;
  height: 100px;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  line-height: 30px;
  letter-spacing: -1px;
}

.sec4 li:hover h1 {
  font-size: 30px;
  position: relative;
}

.sec4 li:hover p {
  display: block;
  opacity: 1;
  transition: opacity 0.3s 0.4s;
}

/******** section4 끝 ********/